<header class="header">
  <div class="header__section">
    @@if (img && name && job) {
      <div class="person">
        <img class="person_img" src="@@img" alt="profile">
        <h1 class="person_name title-h1 title-white">@@name</h1>
        <span class="person_job">@@job</span>
      </div>
    }
    @@if (funcs) {
      <ul class="list list-white">
        <span class="list_title title-h3 title-white">
          выполняемые функции
        </span>
        @@for (var i = 0; i < funcs.length; i++) {
          <li class="list_row">`+funcs[i]+`</li>
        }
      </ul>
    }
    @@if (qualities) {
      <ul class="list list-white list-with_icons">
        <span class="list_title title-h3 title-white">
          Личные качества
        </span>
        @@loop("./templates/qualities_row.html", [
          { "icon": "rocket", "text": "целеустремленность", },
          { "icon": "time", "text": "пунктуальность", },
          { "icon": "phone", "text": "общительность", },
          { "icon": "star", "text": "умение убедить в своей правоте", },
          { "icon": "structure", "text": "предпринимательское мышление", }
        ])
      </ul>
    }
    @@if (skills) {
      <ul class="list list-white">
        <span class="list_title title-h3 title-white">
          Профессиональные навыки
        </span>
        @@for (var i = 0; i < skills.length; i++) {
          <li class="list_row">`+skills[i]+`</li>
        }
      </ul>
    }
  </div>
</header>