$white: #fff;
$black: #000;

$mainBlack: #202025;

$gray: #2A282D;
$lightGray: #B3B3BF;

$blue: #4C6EF6;

$fontSize: 12px;
$fontFamily: Golos;

$border: 0.386054px solid $lightGray;
$radius: 50%;

$time: 0.3s;

$transition: all $time ease 0s;