.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &-white {
    .list {
      &_title {
        margin-bottom: 12px;
      }
      &_title,
      &_row {
        color: $white;
      }
    }
  }
  &-func {
    .list_row {
      line-height: 17px !important;
    }
  }
  &-add {
    gap: 20px;
    .mt-4 {
      margin-top: -4px;
    }
    .list {
      &_row {
        display: inline-flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        span {
          color: $lightGray;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
  }
  &_time {
    min-width: 84px;
    width: fit-content;
    padding: 4px 9px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: $gray;
    border-radius: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    gap: 12px;
  }
  &-lineH {
    .list_row {
      line-height: 20px !important;
    }
  }
  &-with_markers {
    .list_row {
      display: flex;
      align-items: center;
      gap: 8px;
      &:before {
        content: url("../../img/mark.svg");
        width: 14px;
        height: 14px;
      }
    }
  }
  &-with_icons {
    .list {
      &_row {
        width: fit-content;
        padding: 3px 9px 3px 3px;
        border: $border;
        border-radius: 25px;
      }
    }
  }
  &_col {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }
  &_subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  &_wrap {
    display: flex;
    gap: 20px;
    .list_col {
      gap: 20px;
      max-width: calc(100% - 450px - 20px);
    }
    &-100 {
      .list_col {
        max-width: 100%;
      }
    }
    &-gap {
      gap: 150px;
      .list {
        &_col {
          max-width: 270px;
          &:last-child {
            max-width: 349px;
            .list_tabs_wrap {
              flex-direction: column;
              flex-wrap: nowrap;
            }
          }
        }
      }
    }
  }
  &-small {
    max-width: 450px;
    width: 100%;
  }
  &_tabs {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    &_wrap {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 8px;
      &-270 {
        max-width: 270px;
      }
      .title {
        width: 100%;
        font-weight: 600;
        font-size: 13.1224px;
        line-height: 16px;
      }
    }
  }
  &_tab {
    padding: 5px 10px;
    border: $border;
    border-radius: 41px;
    font-weight: 400;
    font-size: 10.9354px;
    line-height: 13px;
    height: 24px;
    width: fit-content;
  }
  &_title {
    margin-bottom: 4px;
  }
  &_info {
    display: inline-flex;
    gap: 16px;
    flex-direction: column;
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &_el {
    line-height: 17px;
    color: $gray;
  }
  &_row {
    font-weight: 400;
    line-height: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    &-time {
      gap: 12px;
      align-items: flex-start;
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      span {
        line-height: 17px;
        color: $grayText;
      }
    }
  }
}